* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    background-color: #2a2a2a;
    color: #fff;

    --orange: #f60;
    --brown: #a40;
    --yellow: #e6b20a;
    --grey: #2a2a2a;

    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;

    --numberBoxSize: 2rem;

    scroll-behavior: smooth;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #1a1a1a;
    border-bottom: 1px var(--orange) solid;
    padding: 1rem;
    margin-bottom: 3rem;
}

header img {
    height: 3rem;
    display: block;
    margin-right: 1.5rem;
}

header h1 {
    font-size: 1.8rem;
}

header > div {
    display: flex;
    align-items: center;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.container > div {
    font-size: 0.8rem;
    border: 1px #999 solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey);
    width: var(--numberBoxSize);
    height: var(--numberBoxSize);
}

.container-lvEasy {
    width: calc(var(--numberBoxSize) * 7);
    height: calc(var(--numberBoxSize) * 7);
}

.container-lvMedium {
    width: calc(var(--numberBoxSize) * 9);
    height: calc(var(--numberBoxSize) * 9);
}

.container-lvHard {
    width: calc(var(--numberBoxSize) * 10);
    height: calc(var(--numberBoxSize) * 10);
}

.desc {
    text-align: left;
    padding: 0.8rem 0.5rem;
    margin-bottom: 1rem;
}

button {
    display: block;
    border: 0;
    background-color: var(--orange);
    border-radius: 100px;
    padding: 0.5rem 0.8rem;
    color: white;
    text-transform: uppercase;
    margin: 1rem auto;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #f80;
}

p {
    font-weight: 700;
    min-height: 1.2rem;
}

input {
    height: 2rem;
    width: 70%;
    margin: 0.5rem;
    color: var(--grey);
    border-radius: 100px;
    padding: 0 1rem;
    border: 0;
}

input::placeholder {
    color: #999;
}

input:focus-visible{
    outline: 2px var(--orange) solid;
}

select {
    display: block;
    width: 8rem;
    height: 1.5rem;
    margin: 0 0.5rem;
}

.false{
    color: #ff6666;
    font-weight: 600;
}

.true {
    color: #68d368;
    font-weight: 600;
}
